* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --dark-background-color: #0c122c;
  --background-color: #1e2d69;
  --text-color: #dbd9ff;

  --font-size: 14px;
  --font: "Raleway", sans-serif;

  --border-radius: 10px;
  --icon-dimesions: 48px;
  --main-container-height: 201px; /*height stays constant between mobile and desktop*/
  --main-container-border-radius: 10px 100px 10px 10px;
  --main-container-width: 86.935vw;
  --main-container-items-padding: 41px;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: var(--dark-background-color);
  background-image: url("./images/bg-mobile.png");
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;
  height: var(--main-container-height);
  width: var(--main-container-width);

  background-color: var(--background-color);
  border-radius: var(--main-container-border-radius);
}
.main-container h1 {
  padding-left: var(--main-container-items-padding);
}
.main-container ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-left: var(--main-container-items-padding);
}
.main-container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-dimesions);
  height: var(--icon-dimesions);
  background-color: var(--dark-background-color);
  border-radius: var(--border-radius);
}
.information-container {
  width: var(--main-container-width);
  height: 23.99vh;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}
@media (min-width: 1440px) {
  body {
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
  main {
    align-items: flex-end;
  }
  .main-container {
    width: 24.306vw;
  }
  .information-container {
    width: 37.5vw;
  }
}
