* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --dark-background-color: #0c122c;
  --background-color: #1e2d69;
  --text-color: #dbd9ff;

  --font-size: 14px;
  --font: "Raleway", sans-serif;

  --border-radius: 10px;
  --icon-dimesions: 48px;
  --main-container-height: 201px; /*height stays constant between mobile and desktop*/
  --main-container-border-radius: 10px 100px 10px 10px;
  --main-container-width: 86.935vw;
  --main-container-items-padding: 41px;
  --progress-bar-height: 14px;
  --progress-bar-width: 262px;
  --progress-bar-padding: 3px;
  --space-left-box-width: 179px;
  --space-left-box-height: 72px;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: var(--dark-background-color);
  background-image: url("./images/bg-mobile.png");
  background-size: 100% 100%;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-family: var(--font);
  gap: 1rem;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;
  height: var(--main-container-height);
  width: var(--main-container-width);

  background-color: var(--background-color);
  border-radius: var(--main-container-border-radius);
}
.main-container h1 {
  padding-left: var(--main-container-items-padding);
}
.main-container ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-left: var(--main-container-items-padding);
}
.main-container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-dimesions);
  height: var(--icon-dimesions);
  background-color: var(--dark-background-color);
  border-radius: var(--border-radius);
}
.information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: var(--main-container-width);
  height: 23.99vh;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}
.information-container h2 {
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--text-color);
}
.progress-bar {
  box-sizing: content-box;
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  padding: var(--progress-bar-padding);
  border-radius: var(--border-radius);
  background-color: var(--dark-background-color);
}

.progress {
  position: relative;
  width: 81.5%;
  height: var(--progress-bar-height);
  border-radius: 8px;
  background: linear-gradient(270deg, #ff4a95 0%, #ffa197 100%);
}
.progress::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  top: calc(50% - 10px / 2);
  right: 2px;
  border-radius: 50%;
  background-color: white;
}
.progress-bar-legend {
  display: flex;
  justify-content: space-between;
  width: var(--progress-bar-width);
  color: var(--text-color);
}
.space-left-indicator {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: calc(0% - var(--space-left-box-height) / 2);
  left: calc(50% - var(--space-left-box-width) / 2);
  height: var(--space-left-box-height);
  width: var(--space-left-box-width);
  border-radius: var(--border-radius);
  background-color: white;
}
.number {
  font-weight: 700;
  font-size: 40px;
}
.description {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.5;
}
@media (min-width: 1440px) {
  :root {
    --progress-bar-width: 461px;
  }
  body {
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
  }
  main {
    align-items: flex-end;
  }
  .main-container {
    width: 24.306vw;
  }
  .information-container {
    align-items: flex-start;
    width: 37.5vw;
    height: 154px;
  }
  .information-container h2 {
    padding-left: var(--main-container-items-padding);
  }
  .progress-bar-container {
    padding-left: var(--main-container-items-padding);
  }
  .space-left-indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(0px - var(--space-left-box-height) * 0.6);
    left: calc(
      var(--main-container-items-padding) + var(--progress-bar-width) -
        var(--space-left-box-width)
    );
    height: var(--space-left-box-height);
    width: var(--space-left-box-width);
    border-radius: 10px 10px 0px 10px;
    background-color: white;
  }
  .space-left-indicator::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -22px;

    border-color: white white transparent transparent;
    border-style: solid;
    border-width: 11.35px;
  }
}
